.header {
  height: 75px;
  background-color: #629674;
}

.logo-style {
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  color: white;
  padding-top: 15px;
}

.logo-header {
  padding-right: 9px;
}
